*,
html{
    margin: 0;
    padding: 0;
}

.container{
    background-color: gray;
    align-items: center;
}

.container-navbar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    width: 100%;
    height: 7vh;
    border: 1.5px solid #252525;
}

.ul-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
}

.ul-navbar .li-navbar a{
    color: black;
    text-decoration: none;
}

.li-navbar{
    display: flex;
    justify-content: space-between;
    border: 1.5px solid #252525;
    padding: 3px 20px;
}

.nav-icon img{
    border-radius: 100%;
    width: 50px;
}

.name-modal{
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: auto;
}

.modal-content{
    background-color: #fefefe;
    padding: 30px;
    border: 1px solid black;
    width: 80%;
    max-width: 400px;
    text-align: center;
    justify-content: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.modal-content h1{
    margin-top: 0;
}

.modal-content input[type="text"]{
    width: 90%;
    padding: 10px;
    border-radius: 8px;
}

.modal-content button{
    background-color: rgb(255, 255, 255);
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 15px;
    transition: transform 0.3s;
}

.modal-content button:hover{
    transform: scale(0.9);
}

.main-content{
    border: 1px solid black;
}

.welcomeBox{
    padding: 50px 10px;
}

.welcomeBox h1{
    margin-bottom: 5px;
    font-size: 24px;
}

.mid-content{
    height: 250px;
}

.welcomeBox p{
    margin-top: 0;
    font-size: 16px;
}

.headquarter{
    padding: 20px;
    border-bottom: 1.5px solid black;
}

.hq-location{
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.location-item{
    text-align: center;
}

.circle{
    border: 1px solid black;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
}

.contact{
    padding: 20px;
}

.contact .forName{
    display: flex;
    justify-content: space-between;
}

.contact .forDOB{
    display: flex;
    justify-content: space-between;
}

.contact .forGender{
    display: flex;
    justify-content: space-between;
}

.contact .forMSG{
    display: flex;
    justify-content: space-between;
}

.contact p{
    margin-bottom: 5px;
}

.contact input{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.contact select{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.contact textarea{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.contact button{
    background-color: rgb(255, 255, 255);
    padding: 5px 100px;
    margin-top: 10px;
    border-radius: 15px;
    transition: transform 0.3s;
}

.contact button:hover{
    transform: scale(0.9);
}   

footer{
    text-align: right;
    padding: 10px;
}